.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.disabled {
  pointer-events: none; /* Disable click events */
  color: gray; /* or any other disabled styling */
  text-decoration: none;
  cursor: not-allowed;
}

/* Add this to your CSS file or style block */
.folder-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 8px;
  color: #333; /* Adjust the color as needed */
}

.folder-link:hover {
  background-color: #f0f0f0; /* Change the background color on hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
