@import '../node_modules/mini.css/dist/mini-default.min.css';

.card {
  display: inline-block; /* Display images in a row */
}

.card img {
  /*width: 50%;  Set the image width to 50% of the container */
 /* height: 50%; Set the image height to 50% of the container */
  margin: 0; /* Remove margin to eliminate padding between images */
  display: block; /* Make sure the image is a block element */

  
}